/***************************************************************************
* Mixins
* O mixin é uma função que gera um conjunto de declarações CSS que podem ser 
* reutilizadas em todo o projeto.
***************************************************************************/

/*
* Mixin de Tipografia
* 1 - Colocar no arquivo _mixin.scss da pasta "components/typography"
*/

@mixin headline-1-style {
  font-weight: $font-weight-bold;
  font-size: $font-size-h1;
  color: $color-primary;
}

@mixin headline-2-style {
  font-weight: $font-weight-bold;
  font-size: $font-size-h2;
  color: $color-primary;
}

@mixin headline-3-style {
  font-weight: $font-weight-bold;
  font-size: $font-size-h3;
  color: $color-primary;
}

@mixin body-l-style {
  font-weight: $font-weight-regular;
  font-size: $font-size-body-l;
  color: $color-secondary;
}

@mixin body-m-style {
  font-weight: $font-weight-regular;
  font-size: $font-size-body-m;
  color: $color-secondary;
}

@mixin body-p-style {
  font-weight: $font-weight-regular;
  font-size: $font-size-body-p;
  color: $color-secondary;
}

/*
* Mixin de Botões
* 1 - Colocar no arquivo _mixin.scss da pasta "components/buttons"
*/

@mixin button-primary-style {
  background-color: $color-button-primary-bg;
  color: $color-button-primary-text;
  border-radius: $border-radius;
  padding: $button-padding;
  border: none;
  font-size: $font-size-body-l;
  font-weight: $font-weight-bold;
  cursor: pointer;
  line-height: 1.5rem;

  &:hover {
    background-color: darken($color-button-primary-bg, 10%);
  }
}

@mixin button-secondary-style {
  background-color: $color-button-secondary-bg;
  color: $color-button-secondary-text;
  border-radius: $border-radius;
  padding: $button-padding;
  border: 1px solid $color-button-secondary-border;
  font-size: $font-size-body-l;
  cursor: pointer;
  line-height: 1.5rem;
}
