/*
* Token de Cores
* 1 - Insira os tokens de cores aqui
* 2 - Importe esse arquivo no _index.scss da pasta de tokens
*/
$color-primary: #015292;
$color-secondary: #666a7b;
$color-bg-cards: #f2f8ff;
$color-button-primary-bg: #f5ce3c;
$color-button-primary-text: #000000;
$color-button-secondary-bg: transparent;
$color-button-secondary-border: #666a7b;
$color-button-secondary-text: #000000;
