/* 
* Mixin de Botões 
* Colocar o mixin de botões aqui
*/
@mixin input-style {
  outline: none;
  background-color: $color-bg-cards;
  color: $color-button-primary-text;
  border-radius: $border-radius;
  border: 1px solid $color-input-border;
  padding: $input-padding;
  font-family: $font-family;
  font-size: $font-size-body-l;
  resize: none;
  @include transition;

  &:focus {
    border-color: $color-primary;
    @include transition;
  }

  &.error {
    border-color: $color-error;
    @include transition;
  }
}

@mixin error-message-style {
  color: $color-error;
  font-size: $font-size-body-p;
}
