@use '@angular/material' as mat;

@include mat.core();

$primary-palette: mat.m2-define-palette(mat.$m2-pink-palette);
$accent-palette: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

$dark-background: #121212;
$dark-text-color: #e0e0e0;

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
    typography:
      mat.m2-define-typography-config(
        $font-family: serif,
      ),
    density: 0,
  )
);

html.dark-theme {
  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
}

.dark-theme main,
.dark-theme header {
  background-color: $dark-background;
  color: $dark-text-color;
  transition: background-color 0.3s ease, color 0.3s ease;
}
