@use '@angular/material' as mat;

@include mat.core();

// Defina o tema escuro
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-pink-palette),
      // Paleta primária para o tema escuro
      accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
      // Paleta de destaque para o tema escuro
      warm: mat.m2-define-palette(mat.$m2-red-palette),
    ),
    typography:
      mat.m2-define-typography-config(
        $font-family: serif,
      ),
    density: 0,
  )
);

// Aplique o tema escuro dentro de um seletor específico
html.dark-theme {
  @include mat.core-theme($dark-theme); // Estilos essenciais para o tema
  @include mat.all-component-themes(
    $dark-theme
  ); // Aplica o tema a todos os componentes
}

// Adiciona um fundo escuro e transições suaves
.dark-theme main,
.dark-theme header {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
