/* 
* Tokens 
* Faça a importação de todos os tokens aqui
* Exemplo: @import './colors/token';
*/
// Import dos tokens de cores

@import './colors/token';

// Import dos tokens de grid
@import './grid/token';
