/*
* Token de Tipografia
* 1 - Insira os tokens de tipografia aqui
* 2 - Importe esse arquivo no _index.scss da pasta de tokens
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$font-family: 'Ubuntu', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Tamanhos de fonte
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-body-l: 1rem;
$font-size-body-m: 0.875rem;
$font-size-body-p: 0.75rem;
