$font-family: 'Ubuntu', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-body-l: 1rem;
$font-size-body-m: 0.875rem;
$font-size-body-p: 0.75rem;
