// Fonte do Google Fonts do Projeto
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Fontes
$font-family: 'Ubuntu', sans-serif;
$font-inter: 'Inter', sans-serif;

$font-weight-bold: 700;
$font-weight-regular: 400;

// Tamanhos de fonte
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1rem;
$font-size-h5: 0.75rem;
$font-size-h6: 0.5rem;
$font-size-body-l: 1rem;
$font-size-body-m: 0.875rem;
$font-size-body-p: 0.75rem;
