<section class="m-2rem">
  <h1>{{ title }}</h1>
  <h2>{{ title }}</h2>
  <h3>{{ title }}</h3>

  <p class="body-l">Texto padrão tamanho 1rem</p>

  <span class="body-m"> Texto simples tamanho 0.875rem </span>

  <small class="body-p"> Texto pequeno tamanho 0.75rem </small>

  <div>
    <button class="btn-primary mt-1rem">Teste de Botão Primário</button>
    <button class="btn-secondary m-1rem">Teste de Botão Secundário</button>
  </div>
</section>

<div class="table">
  <button (click)="addColumn()" class="btn-primary">Add column</button>
  <button (click)="removeColumn()" class="btn-secondary">Remove column</button>
  <button (click)="shuffle()" class="color-token">Shuffle</button>

  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    @for (column of displayedColumns; track column) {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>

<div id="grid">
  <div id="item1"></div>
  <div id="item2"></div>
  <div id="item21"></div>
  <div id="item3"></div>
</div>

<div class="box m-10rem">Margin Example</div>
<div class="box p-10rem">Padding Example</div>

<router-outlet />
