$default-time: 0.2s;
$default-transition: ease-in-out;

@mixin transition {
  transition: $default-time $default-transition all;
}
@mixin transitionIn($property) {
  transition: $default-time $default-transition $property;
}
