// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import './scss/global';


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
