// Importação do arquivo do Styleguide
@import './scss/global';

/**********************************************************
* Configuração de Estilos Globais
*---------------------------------------------------------
* As configurações abaixo são aplicadas em todo o projeto.
* Não é recomendado alterar essas configurações.
***********************************************************/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  color: $color-secondary;
  -webkit-font-smoothing: antialiased;
}
