/*
* Tokens (Colors, Typography, Grid, etc)
*/
@import './tokens';

@import './components';

/*
* Utilities (Margin, Padding, etc)
*/
@import './utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
