// Fonte
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

// Cores
$color-primary: #015292;
$color-secondary: #666a7b;
$color-button-primary-bg: #f5ce3c;
$color-button-primary-text: #000000;
$color-button-secondary-bg: transparent;
$color-button-secondary-border: #666a7b;
$color-button-secondary-text: #000000;

// Fontes
$font-family: 'Ubuntu', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Tamanhos de fonte
$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-body-l: 1rem;
$font-size-body-m: 0.875rem;
$font-size-body-p: 0.75rem;

// Outros estilos
$border-radius: 4px;
$button-padding: 8px 16px;

// Configurações para mobile
$mobile-grid-columns: 4;
$mobile-margin-left-right: 16px;
$mobile-margin-top: 12px;
$mobile-margin-bottom: 32px;
$mobile-column-gap: 16px;

// Configurações para desktop
$desktop-grid-columns: 12;
$desktop-margin-left-right: 120px;
$desktop-margin-top: 12px;
$desktop-margin-bottom: 32px;
$desktop-column-gap: 16px;
